<div class="card bg-dark text-danger m-auto w-75 h-50">
    <img src="\assets\trips\body2.jpg" class="card-img bg-dark" alt="Vanilla Sky on the Beach" style="object-fit:cover;">
    <div class="card-img-overlay">
        <h5 class="card-title">Princelishes Trips</h5>
        <p class="card-text">We are known for sending our customers on the best trip of their lives and they can finally embark on their dream journey! Whether as a family, with his dream partner, best friend or the whole family, whether holiday with party plus wellness or
            just quiet at samen in the dream location, we offer more than you can imagine and very cheap and above all very qualitative!</p>
        <p class="card-text text-dark">If the total Price is more than 200,- € for the Trip, then you will get a 10% discount. And If the total Price is more than 500,- € than your Trip will get a 20% discount from us!</p>
    </div>
</div>