<div class="card bg-dark text-white m-auto w-75 h-50">
    <img src="\assets\trips\body.jpg" class="card-img" alt="Vanilla Sky on the Beach" style="object-fit:cover;">
    <div class=" card-img-overlay ">
        <h5 class="card-title ">Princelishes Trips</h5>
        <p class="card-text ">With us you will find the best offers to recharge your batteries, the best holiday, or just to party and chill, whether with the family, with your own relationship partner, as a single or with your best friend. We have everything for the right
            trip, what your heart desires! Quality guarrantie! This is what Pricelishes stands for with his name!</p>
        <p class="card-text text-light ">If the total Price is more than 200,- € for the Trip, then you will get a 10% discount. And If the total Price is more than 500,- € than your Trip will get a 20% discount from us!</p>
    </div>
</div>